@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,400;0,900;1,700&family=Fira+Sans:wght@400;700;900&display=swap');

body {
    font-family: "Fira Sans", sans-serif;
}

h1,
h2 {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 900;
    color: #222;
    line-height: 1;
}

a {
    color: #11ad8e;
}

a:hover, a:focus {
    color: #11ad8e;
}

/* strong {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 900;
} */

.high {
    margin: 10px;
    margin-bottom: calc(1rem + 10px);
}

.high span {
    font-weight: 900;
    font-size: 2.5rem;
    box-shadow: 0 0 0 10px #fff;
    background-color: #fff;
    color: #3f1d70 !important;
    box-decoration-break: clone;
    line-height: 1.5;
}

.high.pw span {
    box-shadow: 0 0 0 10px #3f1d70;
    background-color: #3f1d70;
    color: #fff !important;
}

.high.pw span {
    box-shadow: 0 0 0 10px #3f1d70;
    background-color: #3f1d70;
    color: #fff !important;
}

.high.gw span {
    box-shadow: 0 0 0 10px #11ad8e;
    background-color: #11ad8e;
    color: #fff !important;
}

.high.wg span {
    box-shadow: 0 0 0 10px #fff;
    background-color: #fff;
    color: #11ad8e !important;
}

a.btn.wtlLink {
    background: #3f1d70;
    color: white;
    border-color: #3f1d70;
}

a.btn.wtlLink:hover,
a.btn.wtlLink:active {
    outline: none;
}

a.form-privacy {
    color: #11ad8e;
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #11ad8e;
    border-color: #fff;
    outline: none;
}

header {
    color: white;
    position: relative;
    width: 100%;
    z-index: 999;
    padding: 0.5rem 0;
}

header img {
    width: 300px;
}

.navbar-dark .navbar-toggler {
    color: #11ad8e !important;
    border-color: transparent !important;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2817, 173, 142, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

button.navbar-toggler {
    border: 0;
    padding: 0;
}

button:focus {
    outline: none;
}


img.logoFirst {
    max-width: 60%;
    margin: 0 auto;
    display: block;
}

@media only screen and (min-width: 768px) {

    
header {

    position: absolute;
    padding: 1rem 0;
}
    img.logoFirst {
        max-width: 100%;
        margin: 0 auto;
        display: block;
    }

    .navbar-dark .navbar-toggler {
        color: #fff !important;
        border-color: transparent !important;
    }
    
    .navbar-dark .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    
}



nav.navbar {
    background-color: transparent !important;
    padding: 0;
    justify-content: flex-end;
}

.navbar-dark .navbar-nav .nav-link {
    color: #11ad8e;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #11ad8e;
}

.navbar-collapse {
    text-align: right;
}

@media only screen and (min-width: 768px) {
    .navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}
}

footer {
    font-size: 0.8rem;
    color: #333;
}

.slide {
    /* padding-top: 95px; */
    min-height: calc(100vh);
    display: none;
    position: relative;
    align-items: center;
    padding: 1rem 0;
}

.slide1 {
    display: block;
    position: relative;
    background-image: url(images/OpenStreetMapWhite.png);
    background-size: cover;
    display: flex;
    align-items: center;
}
.slide1 h1, .slide1 h3 {
    text-align: center;
}
@media only screen and (min-width: 768px) {

    img.logoFirst {
        max-width: 80%;
        margin: 0 auto;
        display: block;
    }
.slide.slide1:before {
    content: "";
    clear: both;
    display: table;
    width: 52%;
    height: 100%;
    position: absolute;
    background: #11ad8e;
    right: 0;
    
}
.slide1 h1, .slide1 h3 {
    text-align: left;
}
.slide {
    /* padding-top: 95px; */
    min-height: calc(100vh);
    display: none;
    position: relative;
    align-items: center;
    padding: 50px 0;
}

.slide1 {
    display: block;
    position: relative;
    background-image: url(images/OpenStreetMapWhite.png);
    background-size: cover;
    display: flex;
    align-items: center;
}


}

.slide1 h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.slide1 h3 {
    line-height: 1;
    font-weight: 300;
    margin-bottom: 2rem;
}

input#postcode {
    font-size: 1.5rem;
}

button#button {
    font-size: 1.5rem;
    font-family: 'Fira Sans';
    font-weight: bold;
}




/* .slide1:before {
    background-image: url(images/hexGreenInv.png);
    background-repeat: repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: contain;
    content: "";
    display: table-cell;
    clear: both;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0.1;
} */

.slide3:before {
    background-image: url(images/hex.png);
    background-repeat: repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: contain;
    content: "";
    display: table-cell;
    clear: both;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0.05;
}

.slide2 {
    padding: 0;
    padding: 0;
    border: 15px solid #eee;
    background-color: white;
    color: #222;
}

.slide.slide2 {
    min-height: calc(100vh - 30px);
}

.slide.slide4 {
    background: #11ad8e;
    color: white;
    text-align: center;
}

.slide4 .container {
    min-height: 100vh;
    display: flex;
}

.slide5:before {
    background-image: url(images/hex.png);
    background-repeat: repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: contain;
    content: "";
    display: table-cell;
    clear: both;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0.075;
}

.slide.slide5 {
    text-align: center;
}

.slide5 .container {
    min-height: 100vh;
    display: flex;
}

.slide.slide2 .container-fluid {
    padding: 0;
}

@media only screen and (max-width: 768px) {

#map {
    height: 50vh !important;
}
}


input#postcode {
    width: 100%;
}

form.form-inline .form-group {
    width: 100%;
}

button#button {
    width: 100%;
}

@media only screen and (min-width: 768px) {

    .slide.slide2 {
        min-height: calc(100vh - 100px);
    }


    form.form-inline .form-group {
        width: unset;
    }

    .slide.slide2 .container-fluid {
        display: flex;
        flex-direction: row-reverse;
        /* align-items: center; */
    }

    .slide2 {
        border: 50px solid #eee;
    }

    /* #map {
        height: auto !important;
        min-height: 100% !important;
    } */

    .mapCol,
    #messageContainer {
        flex: 1;
    }

}

#messageContainer {
    padding: 2rem;
    text-align: left;
    position: relative;
    background-color: transparent;
    color: #222;
}



#messageContainer {
    /* z-index: 998;
    position: relative;
    background: rgba(255, 255, 255, 0.9);
    color: unset;
    font-size: 1rem;
    padding: 1rem;
    width: 90%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 35px 35px 0 rgba(0, 0, 0, .3);
    text-align: center; */
}

@media only screen and (min-width: 768px) {
    /*
    #messageContainer {
        z-index: 998;
        position: relative;
        background: rgba(255, 255, 255, 0.85);
        color: unset;
        font-size: 1rem;
        padding: 1rem;
        width: 50%;
        margin: auto;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -25%);
        box-shadow: 0 35px 35px 0 rgba(0, 0, 0, .3);
        text-align: center;
    }
    */

    #messageContainer:after {
        content: " ";
        position: absolute;
        bottom: 45%;
        right: -100px;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
        border-left: 50px solid #11ad8e;
        border-right: 50px solid transparent;
        z-index: 998;
    }
}



i.fas.fa-times-circle {
    color: red;
}

i.fas.fa-check-circle {
    color: green;
}

div#message_champion,
div#message_partnership {
    font-size: 1.5rem;


}

h2.councilHeading {
    margin-bottom: 2rem;
}



img.check {
    width: 35px;
    margin-right: 1rem;
}



/* Form */

.hidden_sub_label {
    display: none;
}

.field_sublabel_hidden_label label.gfield_label {
    display: none;
}

.hidden_label label {
    display: none;
}

form li {
    list-style: none;
}

form ul {
    padding: 0;
}

.name_first,
.name_last {
    width: 50%;
    float: left;
}

.gfield:after {
    content: "";
    clear: both;
    display: table;
}



.name_first {
    padding-right: 1rem;
}


.btn-primary {
    color: #fff !important;
    background-color: #11ad8e !important;
    border-color: #fff !important;
    outline: none !important;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled):active {
    color: #11ad8e !important;
    background-color: #fff !important;
    border-color: #11ad8e !important;
    outline: none !important;
    box-shadow: none !important;
}

.gform_footer .gform_button {
    color: #fff;
    background-color: #11ad8e;
    border-color: #fff;
    outline: none;
}

.gform_footer .gform_button {
    color: #fff;
    background-color: #11ad8e;
    border-color: #fff;
    outline: none;
    -webkit-appearance: none;
    border: none;
    width: 100%;
}

.wtlLinkP {
    text-align: center;
}

.hiddenFields {
    display: none;
}

button.wtlLink {
    font-size: 1.5rem;
}

button.congratulate {
    font-size: 1.5rem;
}

a.btn.btn-primary.congratulate {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 900;
    color: #222;
    line-height: 1;
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: normal;
}


.form-control:focus {
    color: unset;
    box-shadow: none;
    border: 1px solid #ced4da;
}

button.btn.btn-primary.wtlLink {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 900;
    color: #222;
    line-height: 1;
    font-size: 2rem;
    padding: 1rem;
}

/* Sharing */

a.btn.btn-skip {
    border: 2px solid white;
    border-radius: 2px;
    width: auto !important;
    min-width: 25% !important;
}

p.slideShare {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slideShare a.btn {
    min-width: 50%;
    max-width: 100%;
    margin: 0 0 1rem 0;
    font-size: 1.25rem;
}

.slideShare {
    text-align: center;
}

.slideShare a.btn {
    clear: both;
    display: block;
    width: 100%;
    flex: 1;
}

@media only screen and (min-width: 768px) {
    .slideShare a.btn {
        width: 50%;

    }

}

.btn-twitter {
    color: #FFFFFF;
    background-color: #1DA1F2;
    border-color: #0d95e8;
}

.btn-twitter:hover {
    color: #FFFFFF;
    background-color: #0d8ddc;
    border-color: #0b76b8;
}

.btn-twitter:focus,
.btn-twitter.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(13, 149, 232, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(13, 149, 232, 0.5);
}

.btn-twitter.disabled,
.btn-twitter:disabled {
    color: #FFFFFF;
    background-color: #1DA1F2;
    border-color: #0d95e8;
}

.btn-twitter:not(:disabled):not(.disabled):active,
.btn-twitter:not(:disabled):not(.disabled).active,
.show>.btn-twitter.dropdown-toggle {
    color: #FFFFFF;
    background-color: #0c85d0;
    border-color: #0a6eac;
}

.btn-twitter:not(:disabled):not(.disabled):active:focus,
.btn-twitter:not(:disabled):not(.disabled).active:focus,
.show>.btn-twitter.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(13, 149, 232, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(13, 149, 232, 0.5);
}

.btn-instagram {
    color: #FFFFFF;
    background-color: #8a3ab9;
    border-color: #7c34a6;
}

.btn-instagram:hover {
    color: #FFFFFF;
    background-color: #74319c;
    border-color: #5f287f;
}

.btn-instagram:focus,
.btn-instagram.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(124, 52, 166, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(124, 52, 166, 0.5);
}

.btn-instagram.disabled,
.btn-instagram:disabled {
    color: #FFFFFF;
    background-color: #8a3ab9;
    border-color: #7c34a6;
}

.btn-instagram:not(:disabled):not(.disabled):active,
.btn-instagram:not(:disabled):not(.disabled).active,
.show>.btn-instagram.dropdown-toggle {
    color: #FFFFFF;
    background-color: #6d2e92;
    border-color: #572575;
}

.btn-instagram:not(:disabled):not(.disabled):active:focus,
.btn-instagram:not(:disabled):not(.disabled).active:focus,
.show>.btn-instagram.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(124, 52, 166, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(124, 52, 166, 0.5);
}

.btn-whatsapp {
    color: #FFFFFF;
    background-color: #25D366;
    border-color: #21bd5c;
}

.btn-whatsapp:hover {
    color: #FFFFFF;
    background-color: #1fb256;
    border-color: #1a9247;
}

.btn-whatsapp:focus,
.btn-whatsapp.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(33, 189, 92, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(33, 189, 92, 0.5);
}

.btn-whatsapp.disabled,
.btn-whatsapp:disabled {
    color: #FFFFFF;
    background-color: #25D366;
    border-color: #21bd5c;
}

.btn-whatsapp:not(:disabled):not(.disabled):active,
.btn-whatsapp:not(:disabled):not(.disabled).active,
.show>.btn-whatsapp.dropdown-toggle {
    color: #FFFFFF;
    background-color: #1da851;
    border-color: #188741;
}

.btn-whatsapp:not(:disabled):not(.disabled):active:focus,
.btn-whatsapp:not(:disabled):not(.disabled).active:focus,
.show>.btn-whatsapp.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(33, 189, 92, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(33, 189, 92, 0.5);
}

.btn-wrap {
    white-space: normal;
}

.btn-facebook {
    color: #FFFFFF;
    background-color: #3B5998;
    border-color: #344e86;
}

.btn-facebook:hover {
    color: #FFFFFF;
    background-color: #30497c;
    border-color: #263961;
}

.btn-facebook:focus,
.btn-facebook.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(52, 78, 134, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(52, 78, 134, 0.5);
}

.btn-facebook.disabled,
.btn-facebook:disabled {
    color: #FFFFFF;
    background-color: #3B5998;
    border-color: #344e86;
}

.btn-facebook:not(:disabled):not(.disabled):active,
.btn-facebook:not(:disabled):not(.disabled).active,
.show>.btn-facebook.dropdown-toggle {
    color: #FFFFFF;
    background-color: #2d4373;
    border-color: #223358;
}

.btn-facebook:not(:disabled):not(.disabled):active:focus,
.btn-facebook:not(:disabled):not(.disabled).active:focus,
.show>.btn-facebook.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(52, 78, 134, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(52, 78, 134, 0.5);
}

.btn-facebook .badge,
.btn-facebook select.gfield_select+.chosen-container-multi .chosen-choices li.search-choice,
select.gfield_select+.chosen-container-multi .chosen-choices .btn-facebook li.search-choice {
    border-radius: 15%;
    background-color: #4c70ba;
}

a.btn.btn-skip {
    color: white;
    font-weight: bold;
}

p.slideShare a.btn {
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1;
    padding: 1rem 0;
}

p.slideShare a.btn i {
    margin-right: 1rem;
}

/* Map styling */

#map {
    position: relative;

}


.leaflet-bottom.leaflet-right {
    z-index: 998;

}

/* .leaflet-pane.leaflet-tile-pane {
    filter: grayscale(75%);
} */

path.leaflet-interactive {
    fill: #11ad8e;
    stroke: #11ad8e;
}

.leaflet-pane.leaflet-marker-pane {
    display: none;
}

.leaflet-pane.leaflet-shadow-pane {
    display: none;
}

.leaflet-interactive {
    cursor: default;
}

.form-control {
    color: #495057 !important;
}

form#gform_1 {
    box-shadow: 0 0px 35px 0 rgba(0, 0, 0, .3);
    padding: 2rem;
    background: white;
}

.explainer {
    display: block;
}

.explainBox {

    color: white;
    margin: 1rem 0;

}

.partnershipExplain.explainBox {
    margin-right: 0;
}

.explainBox h3 {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 900;
    line-height: 1;
}

#message_result strong {font-family: "Fira Sans", sans-serif; font-weight: bold;}

p.corrections {
    font-size: 12px;
    text-align: center;
    color: #555;
}

p.corrections a {
    color: #11ad8e;
}

.congratulateP {
    text-align: center;
}

@media only screen and (min-width: 768px) {




}

#accordion button h3 {
    color: white;
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1;
    margin: 0;
    flex: 1;
}



#accordion .card {
    /* background: #11ad8e; */
    /* color: white; */
    /* border-radius: 0; */
    border: 0;
    width: 50%;
    /* float: left; */
    flex: 1;
    margin: 0 1rem 0 0;
    /* flex-shrink: 1; */
}

#accordion .card-header {
    padding: 1rem;
    background: #11ad8e;
    color: white;
    border-radius: 0;
    border: 0;
    border: 0;
    min-height: 90px;
    display: flex;
    align-items: center;
}

#accordion .btn-link:hover {
    color: white;
    text-decoration: none;
}

#accordion i.fas.fa-minus {
    display: none;
}

#accordion i.fas {
    margin-left: 1rem;
    color: white;
    /* display: block; */
    /* float: left; */
}

.btn.focus, .btn:focus {
    box-shadow: none;
}

div#accordion {
    display: flex;
    margin: 1rem 0;
}

#accordion .collapse .card-body {
    /* border: 3px solid #11ad8e; */
}


#accordion .card:last-of-type {
    margin-right: 0;
}

#accordion button {
    padding: 0;
    text-align: left;
    display: flex;
    margin: 0;
    border: 0;
    align-items: center;
}

.mapCol {
    overflow: hidden;
    position: relative;
}

.explainerSlide {
    position: absolute;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: rgba(17, 173, 142, 0.9);
    padding: 2rem;
    transition: 0.5s ease all;
    transform: translateX(-200%);
    overflow: hidden;
    display: none;
}

.explainerSlide.active {

    transform: translateX(0);

}

.buttonLink {
    background: none;
    border: none;
    padding: 0;
    margin: 0 0 1rem 0;
    color: #11ad8e;
    font-size: 0.8rem;
}

button#slideReveal {
    display: none;
}


button#boxReveal {
    display: inline-block;
}

.explainer.mobile {
    display: none;
}

.explainer.mobile.active {
    display: block;
}

.mobile .explainBox {
    background: #11ad8e;
    padding: 1rem;
    background: #11ad8e;
    color: white;
    margin: 0 0 1rem 0;
    flex: 1;
    width: 100%;
}

@media only screen and (min-width: 768px) {

    button#slideReveal {
        display: inline-block;
    }

    button#boxReveal {
        display: none;
    }

    .explainer.mobile.active {
        display: none !important;
    }

.explainerSlide {
    display: block;
}

#messageContainer {
    border: 5px solid #11ad8e;
}

}